.parent{
   position:relative;
   flex-wrap: wrap;
   margin: 80;

}
.div1{
    margin-left: 240px;
    border-radius: 50px;
}
.div1 img{
    border-radius: 15px;
}
.div2{
    margin-top: -280px;
    margin-left: 570px;
}
.div3{
     margin-top: 45px;
     margin-left: 350px;
}
.name{
     position: absolute;
     top: 250;
     margin-left: 300px;
     color: grey;
     font-size: larger;
}
.name2{
    position: absolute;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    top: 160;
    font-size:xx-large;
    margin-left: 310px;
}
.name3{
    position: absolute;
    color: grey;
    top: 100;
    left: 590px;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.name4{
    position: absolute;
    color: grey;
    top: 130;
    left: 590px;
}
.date{
    position: absolute;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    top: 210;
    left: 480;
}
.visa{
    position: absolute;
    color: grey;
    font-size: xx-large;
    top: 240;
    left: 640;
    font-weight: bolder;
}

.vaild{
    position: absolute;
    color: grey;
    top: 205;
    left: 432;
    font-size: small;

}
